.calendar_container .react-calendar {
  width: 100%;
  border-radius: 15px;
  background-color: #c9d6df;
}

.calendar_container .react-calendar__navigation {
  margin-bottom: 0;
  padding: 10px 13px 10px 13px;
}

/* The date section below */
.calendar_container .react-calendar__viewContainer {
  background-color: #f0f5f9;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}
.calendar_container .react-calendar__month-view__weekdays {
  color: #1e2022;
}
.calendar_container .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

/* Buttons for planned dates */
.calendar_container .planedDates {
  background-color: #d4eaf7;
  border-radius: 10px;
}

/* Date btn */
div.react-calendar__month-view__days button {
  border-radius: 10px;
}

/* Button color on click */
.calendar_container .react-calendar__tile--active,
.calendar_container .react-calendar__tile--active:enabled:focus {
  background-color: rgba(191, 199, 209, 0.5);
}

.calendar_container .react-calendar__tile:enabled:hover {
  background-color: rgba(191, 199, 209, 0.3);
}

.calendar_container button {
  color: #1e2022;
}
.calendar_container .react-calendar__month-view__days__day--neighboringMonth {
  color: #788189;
}

/* Today's date */
.calendar_container .react-calendar__tile--now {
  background-color: transparent;
  color: #f43f5e;
}
