@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 25, 26);
}
a.active {
  color: #52616b;
}

.tabs {
  scrollbar-width: auto;
}
.tabs::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.tabs::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* 自定義滾動條顏色 */
  border-radius: 4px;
}
.tabs::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* 自定義滾動條軌道顏色 */
}

#map {
  top: 0;
  bottom: 0;
}
.marker {
  background-image: url("/images/map-pin.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup-content {
  text-align: center;
  width: 300px;
  height: auto;
  border: 1px solid #bfc7d1;
  background-color: #f0f5f9;
  border-radius: 25px;
  transform: translateX(-10%);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}
.mapboxgl-popup-content::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f5f9;
}
.mapboxgl-popup-content > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mapboxgl-popup-close-button {
  display: none;
}
.mapbox-gl-draw_point {
  background-color: #facc15 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #f0f5f9;
}
.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out,
.mapboxgl-ctrl-compass,
.mapbox-gl-draw_point,
.mapbox-gl-draw_trash {
  width: 35px !important;
  height: 35px !important;
}
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-top-left {
  animation: map_ctrl 1s ease-in-out forwards;
}
.mapboxgl-ctrl-bottom-left {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.travelProjectGlobePopup .mapboxgl-popup-content {
  height: auto;
}
.travelProjectGlobePopup .mapboxgl-popup-content > div {
  gap: 5px;
}

.swiper-button-prev {
  color: #0077b6;
}
.swiper-button-prev:after {
  font-size: 24px;
}
.swiper-button-next {
  color: #0077b6;
}
.swiper-button-next:after {
  font-size: 24px;
}
.swiper-pagination-bullet-active {
  background-color: #0077b6;
}

.ql-toolbar {
  border-radius: 0.5rem 0.5rem 0 0;
}
.ql-container {
  border-radius: 0 0 0.5rem 0.5rem;
  height: 200px;
  user-select: auto;
}
.ql-editor {
  min-height: 200px;
  user-select: auto;
}
.quillValueContainer h1 {
  font-size: 2rem;
}
.quillValueContainer h2 {
  font-size: 1.5rem;
}
.quillValueContainer h3 {
  font-size: 1.17rem;
}
.quillValueContainer h4 {
  font-size: 1rem;
}
.quillValueContainer h5 {
  font-size: 0.83rem;
}
.quillValueContainer h4 {
  font-size: 0.67rem;
}
.quillValueContainer p {
  font-size: 16px;
}

article img {
  border-radius: 15px;
  margin: 10px 0 10px 0;
}

.divider:before,
.divider:after {
  background-color: #bfc7d1;
}

.card:hover figure .card_img {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.card img {
  transition: transform 0.3s ease;
}
.card-body:hover figure .profile-post-contentImg {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.card-body figure .profile-post-contentImg {
  transition: transform 0.5s ease;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.driver-popover.begginer_tutorial {
  background-color: #f0f5f9;
}
.driver-popover.begginer_tutorial .driver-popover-title {
  color: #1e2022;
}
.driver-popover.begginer_tutorial .driver-popover-description {
  color: #52616b;
}
.driver-popover.begginer_tutorial .driver-popover-description,
.driver-popover.begginer_tutorial .driver-popover-title {
  font-family: "Noto Sans TC", sans-serif;
}

.react-calendar {
  width: 100%;
}
.calendar_container .react-calendar {
  width: 100%;
  border-radius: 15px;
  background-color: #c9d6df;
}
.calendar_container .react-calendar__navigation {
  margin-bottom: 0;
  padding: 10px 13px 10px 13px;
}
/* The date section below */
.calendar_container .react-calendar__viewContainer {
  background-color: #f0f5f9;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}
.calendar_container .react-calendar__month-view__weekdays {
  color: #1e2022;
}
.calendar_container .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
/* Buttons for planned dates */
.calendar_container .planedDates {
  background-color: #d4eaf7;
  border-radius: 10px;
}
/* Date btn */
div.react-calendar__month-view__days button {
  border-radius: 10px;
}
/* Button color on click */
.calendar_container .react-calendar__tile--active,
.calendar_container .react-calendar__tile--active:enabled:focus {
  background-color: rgba(191, 199, 209, 0.5);
}
.calendar_container .react-calendar__tile:enabled:hover {
  background-color: rgba(191, 199, 209, 0.3);
}
.calendar_container button {
  color: #1e2022;
}
.calendar_container .react-calendar__month-view__days__day--neighboringMonth {
  color: #788189;
}
/* Today's date */
.calendar_container .react-calendar__tile--now {
  background-color: transparent;
  color: #f43f5e;
}

@media (max-height: 751px) {
  #logo {
    display: none;
  }
}

@keyframes map_ctrl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
